.highlight {
  &-main {
    width: fit-content;
    border: 2px solid #eaeaea;
    color: white;
    background-color: transparent;
    padding: 4px 8px;
    font-size: 0.8rem;
    border-radius: 3px;
    margin-right: 6px;
  }
}
