.page-title {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  h1 {
    font-size: 5rem;
  }
  img {
    margin-right: 1.5rem;
    width: auto;
    height: 4rem;
  }
}

@media (max-width: 950px) {
  .page-title {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-left: 0px;
    border-radius: 3px;
    h1 {
      font-size: 3rem;
    }
  }
}
